#launch_options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
}

.flex-group {
    display: flex;
    max-width: 100%;
    gap: 20px;
}

button {
    width: fit-content;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: royalblue;
}

input[type="text"] {
    border-style: solid;
    border-radius: 4px;
    border-color: dodgerblue;
}

.ellipsis {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}